@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #f3f3f3;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #B75B00;
	text-decoration: none;
}
a:hover, a:focus {
	/* color: #3397db; */
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #212121;
  color: #E6E6E6;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;

}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #212121;
  text-align:center;
  display: flex;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #B75B00;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 30px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    display: flex;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #B75B00;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #212121;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 175px;
  background-color: #212121;
  align-items: center;
  margin: auto;
}
.filter-options h2 {
  color: #B75B00;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 0px 0px 12px;
  padding: 19px 0px 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 94%;
  overflow: hidden;
  border-radius: 3px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}
#restaurants-list li {
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 0 25px;
  text-align: left;
  min-width: 300px;
  max-width: 300px;
}
#restaurants-list .restaurant-img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}


#restaurants-list .restaurant-text-area {
  padding: 0 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 170px;
  max-height: 170px;
  position: relative;
}


#restaurants-list li h1 {
  color: #B75B00;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #B75B00;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  height: 70vw;
  max-height: 400px;
  position: static;
  width: 100%;
  margin-top: 125px;
}
.inside #map {
  background-color: #212121;
  height: 100%;
  width: 100%;
  z-index: 1;
  max-height: none;
}


#restaurant-name {
  color: #B75B00;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #B75B00;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 25px 0px;
}
#reviews-container {
  padding-bottom: 5px;
}
#reviews-container h2 {
  color: #B75B00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 23px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width:100%;
}
#reviews-list li p {
  margin: 0;
  padding: 10px;
}
#restaurant-hours td {
  color: #666;
}



#reviews-list li p:first-child, #reviews-list li p:nth-child(2) {
  color: white;
  display: inline-block;
  width: 50%;
  background-color: #B75B00;
  box-sizing: border-box;
  padding: 10px;
}
#reviews-list li p:nth-child(2) {
  text-align: right;
}

#restaurant-hours td {
  color: #666;
}



/* ====================== Skip Link ====================== */


.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #B75B00; 
  color: black;
  padding: 8px;
  z-index: 100;
  border-bottom-right-radius: 8px;
}


.skip-link:focus {
    top: 0;
}


#restaurants-list li a:hover, #restaurants-list li a:focus {
  background-color: #9F1447;
  color: #FFF;
  outline: none !important;
}


/* Offline maps warning */
.map-offline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.map-offline div {
  margin-left: 30px;
  margin-right: 30px;
}
.map-offline .warning-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #ff572296;
  font-size: 2.5em;
  color: white;
  margin: 0 25px 25px;
}
.map-offline .warning-message {
  font-size: 1.3em;
  color: #B75B00;
}
.map-offline .warning-suggestion {
  font-size: .9em;
  color: #B75B00;
}