#map {
    height: 430px;
    width: 80%;
    background-color: #ccc;
    margin: auto;
}

nav {
    margin: auto;
    width: 80%;
}

.filter-options {
    margin: auto;
    width: 80%;
    height: 125px;
    background-color: #3c3c3c;
}

.filter-options select {
    margin: 40px 0px 0px 10px;
    padding: 0 10px;
    width: 200px;

}

.filter-options h2 {
    padding: 19px 19px 18px;
    margin: 30px 0px 0 40px;
    float: left;
}